
.header {
    padding: 30px 0;

    @media only screen and (max-width:$bp-medium) {
        padding:20px;
    }
}

.nav {

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;

    @media only screen and (max-width:$bp-small) {
        display: grid;
        justify-items: center;
        grid-template-rows: repeat(3, min-content);
        grid-template-columns: auto;
        align-items: start;
    }

    &__btn {
        grid-column: 3 / -1;
        display: grid;
        grid-column-gap: 5px;
        grid-template-columns: repeat(2,1fr);

        @media only screen and (max-width:$bp-small) {
            margin-top: 10px;
            grid-column: 1 / -1;
        }

        &-blue,
        &-green {
            padding: 10px ;
            border-radius: 40px;
            color: var(--color-white);
            border: none;

            &:focus {
                outline: none;
            }
        }

        &-blue {
            background-color: var(--color-blue);
        }
        
        &-green {
            background-color: var(--color-green);

            &-icon {
                margin-right: 5px;
            }
        }
    }

   

    &__input {
        justify-self: end;
        display: flex;

        @media only screen and (max-width:$bp-small) {
            display: grid;
            justify-self: center;
        }

        ::placeholder {
            color: var(--color-placeholder);
        }

       

        &-user,
        &-password {
            border: 0;
            border-bottom: 3px solid var(--color-blue);
            outline: 0;
            font-size: 1.3rem;
            color: var(--color-placeholder);
            padding: 7px 0;
            background: transparent;
            transition: border-color 0.2s;
            margin: 10px;
        }
    }
}



  