.container {
    max-width: 860px;
}

.header {
    background-color: var(--color-white);
}

.section {
    background-color: var(--color-grey);
}

.news {
    background-color: var(--color-white);
}
.score {
    background-color: var(--color-grey);
}

.footer {
    background-color: var(--color-footer);
}